<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Contact\Model\Mail" type="Magepow\Customform\Model\Mail"/>
    <preference for="Magento\Contact\Block\ContactForm" type="Magepow\Customform\Block\ContactForm" />
</config>